* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Adicionei uma cor de fundo de fallback */
}

.background {
    background-image: url("img-1.jpg");
    filter: blur(5px);
    z-index: -1;
    position: fixed; /* Adicionei a propriedade position: fixed para garantir que a imagem de fundo seja posicionada corretamente */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 1600px;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #f1f1f1;
	padding: 20px;
	border: 1px solid #ccc;
	z-index: 9999;
  }
  
.popup-content {
	text-align: center;
}
  
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
@media(max-width: 1600px){
    .container {
        position: fixed;
        background-color: #f8f9fa; /* Cor de fundo */
        padding: 5px 5px; /* Espaçamento interno ajustado */
        border-radius: 10px;
        text-align: center; /* Alinhamento do texto */
        font-family: sans-serif;
        width: 55%; /* Reduzido o tamanho para 85% */
        left: 50%; /* Posicionamento horizontal no meio */
        transform: translateX(-50%); /* Ajuste para centralizar horizontalmente */
        bottom: 20px; /* Posicionamento na parte inferior */
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        z-index: 1;
    }
}


.menu_links {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    font-family: sans-serif;
}

.menu_links a {
    color: #000000; /* Cor do texto */
    text-decoration: none; /* Sem sublinhado */
    margin-right: 50px; /* Espaçamento entre os links */
}

.menu_links :hover{
    color: rgb(0, 0, 0);
    background-color: rgb(148, 148, 148);
}
.menu_links a:last-child {
    margin-right: 0; /* Remove o espaçamento direito do último link */
}

.slider {
    position: relative;
    display: flex;
    width: 1100px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(0, 0, 0); 
}

.slider-item {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

.slider-item:hover {
    background-color: #000000; /* Reduz a opacidade ao passar o mouse */
}

.slider-controls span {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: 34px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    color: rgb(0, 0, 0);
    background: #e4e4e4;
}

.slider-controls span:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(148, 148, 148);
}

.slider-controls .prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.slider-controls .next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.slider-indicators {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
}

.slider-indicators span {
    cursor: pointer;
    margin: 0 4px;
    width: 8px;
    height: 8px;
    border-radius: 100%; /* Changed border-radius to make indicators circular */ 
}

.slider-content {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
}

.slider-content h3 {
    position: absolute;
    bottom: 36px;
    color: rgb(236, 255, 255);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.btn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #ffffff;
    padding: 10px 8px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background: #7cd474;
    transition: background 1s;
}
