@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

body {
	background-color: #71acd4;
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
}

h6 {
	font-size: 18px;
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 18px;
	line-height: 21px;
}

.card-container {
	background-color: #366396;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: absolute;
	top: 30%;
	left: 50%;
	width: 360px;
	margin: -78px 0 100px -180px;
	text-align: center;
	margin-right: 50px;
}

.card-container:last-child {
	margin-right: 0px;
}


.card-container .round {
	width: 50%;
    height: auto;
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

.card-container .round.last {
	width: 50%;
    height: auto;
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 2px;
}

.info-group {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
}

.info-group ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.info-group ul li {
	border: 2px solid #8f87aa;
	border-radius: 2px;
	display: grid;
	font-size: 22px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.info-group ul li a {
	color: #B3B8CD;
	text-decoration: none;
}

.info-group ul li a:hover {
	color: #5a6fc1;
	text-decoration: underline;
}


button.primary {
	background-color: #a2dce0;
	border: 2px solid #698f92;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	padding: 10px 25px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

button:hover {
	background-color: #86b6b9;
}